@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(80, 110, 148); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(55, 80, 112); 
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-image: url('./img/background.png');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: auto;
}

h1{
    font-size: 60px;
    -webkit-text-stroke: 2px white;
    /* text-shadow: 0 0 2px black; */
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}

h2{
    color: rgb(8, 161, 217);
    -webkit-text-stroke: 1px white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
    font-size: 32px;
}

a{
    text-decoration: none;
}
a:active,
a:link,
a:visited,
a:hover{
    color: white;
}



.btn{
    border: none;
    display: inline-block;
    background: rgb(80, 110, 148);
    /* border: 5px solid white; */
    box-shadow: 0 0 0 5px white,
    2px 2px 10px 3px black;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    margin: 10px;
    /* min-width: 220px; */
    text-align: center;
}

.btn-sm{
    width: 150px;
}

.btn-lg{
    width: 350px;
}

.btn:hover{
    background: rgb(55, 80, 112);
}

.sec{
    background: rgb(249, 106, 27);
}

.sec:hover{
    background: rgb(219, 92, 24);
}

.btn-disabled{
    background: rgb(253, 64, 64);
    box-shadow: 0 0 0 5px rgb(255, 0, 0),
    2px 2px 10px 3px black;
    user-select: none;
    cursor: no-drop;
}

.btn-disabled:hover{
    background: rgb(253, 64, 64);
    box-shadow: 0 0 0 5px rgb(255, 0, 0),
    2px 2px 10px 3px black;
    cursor: no-drop;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}
.navbar .nav-logo{
    flex: 1;
}

.main{
    margin: auto;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.container{
    display: flex;
    padding: 10px;
    gap: 10px;
}

.w-500{
    width: 500px;
}

.w-700{
    width: 700px
}

.bg-wb{
    background: white;
    border: 5px solid rgb(8, 161, 217);
}

.w-sm{
    flex: 3 / 1;
}

.md-row{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.md-col{
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.row-cen{
    justify-content: center;
}

.col{
    display: inline-block;
}

label,
input{
    font-weight: 400;
}

input{
    border: 5px solid rgb(80, 110, 148);
    padding: 8px;
    border-radius: 10px;
    min-width: 300px;
}

input:disabled{
    border: 5px solid rgb(105, 105, 105);
}

:not(input[type="chekbox"]){
    min-width: fit-content;
}

.lb-sm{
    font-size: 18px;
}

.lb-lg{
    font-size: 24px;
}


